@font-face {
    font-family: 'IBM Plex Sans Bold';
    src: url('/fonts/IBMPlexSans-Bold.eot');
    src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
    url('/fonts/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
    url('/fonts/IBMPlexSans-Bold.woff') format('woff'),
    url('/fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans SemiBold';
    src: url('/fonts/IBMPlexSans-SemiBold.eot');
    src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
    url('/fonts/IBMPlexSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
    url('/fonts/IBMPlexSans-SemiBold.woff') format('woff'),
    url('/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans.eot');
    src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url('/fonts/font/IBMPlexSans.eot?#iefix') format('embedded-opentype'),
    url('/fonts/font/IBMPlexSans.woff2') format('woff2'),
    url('/fonts/font/IBMPlexSans.woff') format('woff'),
    url('/fonts/font/IBMPlexSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
